<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Dashboard
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" href = "/css/stylesheet.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src = "/js/script.js" type = "text/javascript"></script>
        <script src = "/js/todoscript.js" type = "text/javascript"></script>
    </head>
    <body onload="DisplayTasks()">
            <div id="mySidebar" class="sidebar" onmouseover = "toggleSidebar()" onmouseout = "toggleSidebar()">
                <a href="profile.html"><span><i class="material-icons">account_box</i><span class="icon-text">My Account</span></span></a><br>
                <a href="dashboard.html"><i class="material-icons">dashboard</i><span class="icon-text"></span>Dashboard</a><br>
                <a href="todo.html"><i class="material-icons">toc</i><span class="icon-text"></span>To Do</a><br>
                <a href="calendar.html"><i class="material-icons">calendar_today</i><span class="icon-text"></span>Calendar</a><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <a href="index.html"><i class="material-icons">exit_to_app</i><span class="icon-text"></span>Log Out</a>
            </div>

            <div id = "main">
                <div class = "header"> Dashboard </div>
                <br>
                <div class = "row">
                    <div class = "column">
                    <div class = container-fluid>
                        <div class = "card">
                        <div class = "header1"> To Do List
                            <br><br>
      <input type="text" id="myInput" placeholder="Enter a task">
      <span onclick="AddTask()" class="addBtn">Add</span>
    </div>
    <ul id="myUL">
    </ul>

                        </div>
                        </div>
                    </div>
                    <div class = "column">
                    <div class = "container-fluid">
                       <div class = "card">
                        Card 2
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                     </div>
                    </div>
                    </div>
                    <div class = "column">
                    <div class = "container-fluid">
                    <div class = "card">
                        Card 3
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                        </div>
                    </div>
            </div>
            </div>
    </div>
    </body>
</html>
