<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/indexstylesheet.css">
    <title>Index</title>
    <script>
        function loginfxn() {
             $(location).attr('href', '/userlogin');
        }
        function signupfxn() {
             $(location).attr('href', '/signup');
        }
    </script>
</head>
<body>
    <div class="header">Welcome to Track And Trigger</div>
    <br><br><br>
    <div id="login-box">
        <div class="left">
          <h1>Login</h1>
          <h2>If you have already an account click the button below</h2>
          <br>
          <button id="Login" onclick="loginfxn()">Login</button>
        </div>

        <div class="right">
          <h1>Sign Up</h1>
          <h2>Click the button below to make a new Account  </h2>
          <br>
          <button id="Signup" onclick="signupfxn()">Signup</button>
        </div>
        <div class="or">OR</div>
      </div>
</body>
</html>
