<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/numberAuthentication.js"></script>
  <title>Number Auth</title>
</head>
<body>
  <h1>Mobile Verification</h1>
  <form>
    <input type="text" id="number" placeholder="+91**********">
    <div id="recaptcha-container"></div>
    <button type="button" onclick="phoneAuth();">Send Code</button>
  </form><br>
  <h1>Enter Verification code</h1>
  <form>
    <input type="text" id="verificationCode" placeholder="Enter Verificaton Code">
    <button type="button" onclick="codeverify();">Verify Code</button>
  </form>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyDCfHB19JZQ28Z_PPSrAzDALExowPVphvA",
    authDomain: "testrun-523f7.firebaseapp.com",
    databaseURL: "https://testrun-523f7.firebaseio.com",
    projectId: "testrun-523f7",
    storageBucket: "testrun-523f7.appspot.com",
    messagingSenderId: "992030586231",
    appId: "1:992030586231:web:8a285f2990915eb98f5d72",
    measurementId: "G-QSD9B5R75V"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>
</html>